.main {

    background-image: url('../../img/imgRuta32.jpg');
    background-position: center right;
    background-size: cover;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    padding: 2rem 2rem;
    text-align: center;

    //Corresponde a la bandera con el texto que se ubica en la parte superior
    &__declaration {
        display: flex;
        width: 9rem;
        flex-direction: column;
        align-self: flex-start;
    }



    &__title {
        font-size: 1rem;
        color: var(--c-grey-light-1);
    }

    //Este es el banner de la parte inferior
    &__banner {

        width: 100%;
        max-width: 80rem;
        align-self: center;
        background-color: rgba($color: #000000, $alpha: 0.6);
        border-radius: 1.5rem;
        padding: 2rem;
        margin-bottom: 7vh;
    }

    &__text {
        padding: 1rem 3rem 3rem 3rem;
        font-size: 2rem;
        color: var(--c-grey-light-2);
    }

    &__brand {
        height: 18rem;
        width: auto;
        transform: translateX(1rem);

    }
}

.service {
    background-color: white;

    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 2rem 4rem 2rem;
    justify-content: center;
    gap: 3rem;


    &__card {
        box-shadow: var(--s-dark);
        min-width: 30rem;
        max-width: 35rem;
        flex-direction: column;


        flex: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px var(--c-grey-light-4);
        background-color: white;
        padding-bottom: 2rem;
        border-radius: .5rem;
        overflow: hidden;
        margin-bottom: 3rem;

    }

    &__img {
        height: 25rem;
        min-width: 100%;
        //object-fit: cover;
    }

    &__title {

        width: 70%;
        background-color: #fff;
        font-size: 2rem;
        text-align: center;
        transform: translateY(-50%);
        border: 1px solid var(--c-grey-light-4);
    }

    &__text {
        font-size: 1.7rem;
        font-weight: 300;
        text-align: justify;
        margin-bottom: 1rem;
        margin: 0 2rem;
        margin-bottom: 3rem;
    }

    &__button {
        justify-self: center;
    }

}